<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hassan3530.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7390aff3-2bfe-417e-b923-c11f48bd8cd4/resourceGroups/rg-fresher/providers/Microsoft.Web/sites/hassan3530</ResourceId>
    <UserName>$hassan3530</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://hassan3530.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>