<div class="card">
    <div class="card-header">
        <h6>Delete Container Component</h6>
    </div>
    <div class="card-body"> 
        <p>Choose the container:
            <select [(ngModel)]="containerName">
                <option value="" hidden disabled></option>
                <option *ngFor="let item of containerList">{{item}}</option>
            </select>
        </p>
        <br>
        <button class="btn btn-danger" (click)="onClickDelete()">Delete Container</button>
    </div>
</div>