<div class="container">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header">
              <h3>Angular Root Component</h3>
          </div>
          <br>
          <div class="card-body">
            <app-all-containers></app-all-containers>
            <hr>
            <app-create-container></app-create-container>
            <hr>
            <app-all-blobs></app-all-blobs>
            <hr>
            <app-upload-blob></app-upload-blob>
            <hr>
            <app-download-blob></app-download-blob>
            <hr>
            <app-delete-blob></app-delete-blob>
            <hr>
            <app-delete-container></app-delete-container>
          </div>
      </div>
  </div>
</div>